@model IEnumerable<WebApplication2.Models.FriendModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FriendID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FriendID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <button data-friend-id="@item.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>
}
    </tbody>

</table>

@section scripts{
<script>
$(document).ready( function () {
    var table = $('#myTable').DataTable();
    $("#myTable .js-delete").on("click", function () {
        var button = $(this);
        $.ajax({
            url: "/api/FriendApi/" + button.attr("data-friend-id"),
            method: "DELETE",
            success: function (result) {
                console.log(result)
                table.row(button.parents("tr")).remove().draw();
            }
        });
    });
} );
</script>
    }
